.button,
.button-light {
  width: 191px;
  height: 50px;
  background-color: var(--orange);
  color: var(--backgroundcolor);
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  padding: 16px 12px;
  border-radius: 44px;
  transition: border 0.5, background-color 0.5, color 0.5;
}

.button:hover {
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}

.button-light:hover {
  border: 2px solid var(--backgroundcolor);
  color: var(--backgroundcolor);
  background-color: transparent;
}

.button-light {
  background-color: var(--backgroundcolor);
  color: var(--orange);
}

@media (min-width: 768px) {
  .button,
  .button-light {
    width: 375px;
    height: 90px;
    font-size: 34px;
    line-height: 41px;
    padding: 26px 24px;
  }
}
