.container-cocktails h2 {
  margin-bottom: 11px;
  text-align: center;
}

.tonic-card,
.frappe-card {
  background-size: cover;
  text-align: center;
  color: white;
  padding: 400px 0 20px;
}

.tonic-card p,
.frappe-card p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.tonic-card {
  background-image: url(../img/img-tonic.webp);
}

.frappe-card {
  background-image: url(../img/img-frappe.webp);
}

.more-infos {
  background-image: url(../img/img-eau.webp);
  background-size: cover;
  padding: 18px 0;
}

@media (min-width: 768px) {
  .tonic-card,
  .frappe-card {
    padding: 800px 0 50px;
  }

  h3 {
    font-size: 40px;
    line-height: 48px;
  }

  .tonic-card p,
  .frappe-card p {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }

  .more-infos {
    padding: 70px 0;
  }
}
