.nav {
  color: var(--orange);
  font-weight: 400;
  font-size: 20px;
  padding-left: 68px;
  a {
    transition: color 0.5s;
  }
}

.nav a:hover {
  color: #9e3013;
}

.language-case {
  background-color: var(--orange);
  width: 60px;
  height: 30px;
  padding: 6px 10px;
  border-radius: 32px;
  color: var(--backgroundcolor);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 90;
  right: 20;
  z-index: 2;
  img {
    width: 14px;
  }
}

.container-header {
  padding-top: 97px;
  display: none;
}

.container-header.is-open {
  display: inline-block;
}

.logo-header {
  margin-bottom: 40px;
}

.container-header img {
  max-width: 70px;
  max-width: 100px;
}

.img-header img {
  max-width: none;
  width: 100vw;
  margin: 0;
  margin-left: -12px;
}

.img-header {
  padding: 0;
}

hr {
  border: solid 0.5px var(--orange);
  margin-top: 13.5px;
  margin-bottom: 13.5px;
}

.button-menu {
  width: 100%;
  border-bottom: solid 1px var(--orange);
  text-align: center;
  color: var(--orange);
  padding: 16px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  background-color: var(--backgroundcolor);
}

@media (max-width: 240px) {
  .img-header img {
    max-width: none;
    width: 100vw;
    margin: 0;
    margin-left: calc((100vw - 540px) / -2);
  }
}

@media (min-width: 768px) {
  .nav {
    font-size: 40px;
    line-height: 48px;
    padding-top: 97px;
  }

  hr {
    margin-bottom: 57px;
  }

  .container-header img {
    max-width: 150px;
  }

  .img-header img {
    max-width: 50vw;
    margin-left: 0;
  }

  .container-header {
    padding-top: 0;
  }

  .nav img {
    margin-bottom: 85px;
  }

  .language-case {
    width: 140px;
    height: 64px;
    font-size: 38px;
    padding: 10px 26px;
    img {
      width: 30px;
    }
  }

  .button-menu {
    font-size: 30px;
  }
}
