/* ====================================
// css variables
// ==================================== */

:root {
  --backgroundcolor: #ffe7c9;
  --orange: #f04c22;
  --medium-orange: #f88b13;
  --ginger-dark: #c48102;
  --brun-matte: #361710;
  --light-orange: #ffca03;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: coolvetica;
  background-color: var(--backgroundcolor);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

a {
  text-decoration: none;
}
